{
    "plugins": ["transform-object-rest-spread"],
    "presets": ["react", "es2015", "stage-3"],
    "env": {
        "development": {
            "presets": ["react-hmre"],
            "plugins": [
                ["react-intl", {
                    "messagesDir": "./build/messages/"
                }]
            ]
        },
        "production": {
            /* TODO: fix build: Element type is invalid: expected a string (for built-in components) or a class/function */
            /*"presets": ["react-optimize"]*/
        },
        "targets": {
            "browsers": ["last 2 versions"]
        }
    }
}
